@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<MvcHomeTaskLibrary.Models.ProductWithCategoryNameAndSupplierName>

@{
    ViewData["Title"] = "Products";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Products</h1>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <caption>Product Catalog</caption>
        <thead class="table-dark">
            <tr>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Category Id</th>
                <th>Category Name</th>
                <th>Supplier Id</th>
                <th>Supplier Name</th>
                <th>Unit Price</th>
                <th>Quantity Per Unit</th>
                <th>Units In Stock</th>
                <th>Units On Order</th>
                <th>Reorder Level</th>
                <th>Discontinued</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductId</td>
                    <td>@product.ProductName</td>
                    <td>@product.CategoryId</td>
                    <td>@product.CategoryName</td>
                    <td>@product.SupplierId</td>
                    <td>@product.SupplierName</td>
                    <td>@product.UnitPrice</td>
                    <td>@product.QuantityPerUnit</td>
                    <td>@product.UnitsInStock</td>
                    <td>@product.UnitsOnOrder</td>
                    <td>@product.ReorderLevel</td>
                    <td>@product.Discontinued</td>
                </tr>
            }
        </tbody>
    </table>
</div>